.reveal h1,.reveal h2,.reveal h3,.reveal h4,.reveal h5,.reveal h6 {
	color: rgb(255,192,0);
}

.reveal section img {
	border: none;
	background: none;
}

.reveal p {
  margin: 0;
  margin-bottom: 10px;
  line-height: 1.2em;
}

img.sign {
  border: 1px solid #555 !important;
}
